<footer id="footer" class="footer">
    <div class="copyright">
        <span>©2020 拾玖同學 | </span>

        <!--
        <font color=#DDDDDD size=1pt>京ICP备18001379号-1</font>
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
        -->
    </div>
<!--
https://www.jianshu.com/p/c311d31265e0
https://www.jianshu.com/p/c9f83d5b893a

{% if theme.footer.counter %}
        <span id="busuanzi_container_site_pv">
                本站总访问量<span id="busuanzi_value_site_pv"></span>次
        </span>
        <span class="post-meta-divider">|</span>
        <span id="busuanzi_container_site_uv" style='display:none'>
                本站访客数<span id="busuanzi_value_site_uv"></span>人
        </span>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}
-->

</footer>
